<h1>variable.html</h1>

<h3>The greatest minds of the turn of the century:</h3>
    <ol>
        {% for author in  author_list %}   
            <li>{{author}}</li> 
        {% endfor %}
    </ol>
<h3>Testing for loop and conditional logic in Jinja syntax:</h3>
    <ul>
        {% for letter in  some_letter_list %}   
            {% if letter == 'h' %}
                <li>    Aich    </li>
            {% endif %}
                <li>{{letter}}</li> 
        {% endfor %}
    </ul>

    {% if user_logged_in %}
        <h2>Welcome Back! You are now logged in</h2>
    {% endif %}
<!-- <h3>{{author_list.1}}</h3>
<h3>{{some_dict.inside_key}}</h3>
<h2>{# This is a comment#}</h2>
-->